<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script>
            if (typeof module === 'object') {
                window.module = module; module = undefined;
            }
        </script>

        <script src="../lib/jQuery/jQuery.min.js"></script>

        <link rel="stylesheet" href="../css/main.css">

        <script defer src="../js/action.js"></script>

        <script>
            if (window.module){
                module = window.module;
            }
        </script>

        <title>FVC GUI Interface</title>
    </head>

    <body>
        <main>
            <div id="top-bar">
                <div id="archve-controls">
                    <div class="tooltip">
                        <svg onclick="setDirectory()" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
                        <span class="tooltiptext right">Open folder</span>
                    </div>
                    <div class="tooltip">
                        <svg class="green" onclick="overlayOn()" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder-plus"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path><line x1="12" y1="11" x2="12" y2="17"></line><line x1="9" y1="14" x2="15" y2="14"></line></svg>
                        <span class="tooltiptext right">Create new archive</span>
                    </div>
                    <div class="tooltip">
                        <svg class="red" onclick="destroyArchive()" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder-minus"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path><line x1="9" y1="14" x2="15" y2="14"></line></svg>
                        <span class="tooltiptext right">Destroy existing archive</span>
                    </div>                  
                </div>
                <div>
                    <p class="label">Project Name</p>
                    <p id="project"></p>
                </div>
                <div>
                    <p class="label">Author Name</p>
                    <p id="author"></p>
                </div>
                <div>
                    <p class="label">Directory</p>
                    <p id="directory"></p>
                </div>
                <div>
                    <p class="label">Date Created</p>
                    <p id="created_at"></p>
                </div>
            </div>

            <div id="records"></div>

            <div id="dir">
                <div id="workingDir">
                    <p>Working Directory</p>
                    <div id="workingDirContainer"></div>
                </div>
                <div id="archiveDir">
                    <p>Archive Directory</p>
                    <div id="archiveDirContainer"></div>
                </div>
            </div>

            <div id="new-record">
                <input type="text" name="summary" id="summary" placeholder="Summary (required)">
                <textarea placeholder="Description" id="description"></textarea>
                <button onclick="createRecord()">Create new <strong>Record</strong></button>
            </div>

            <div id="details">
                <div id="controls">
                    <div class="tooltip">
                        <svg onclick="restoreRecordFull()" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
                        <span class="tooltiptext left">Restore selected record (Full)</span>
                    </div>                    
                    <div class="tooltip">
                        <svg onclick="restoreRecord()" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                        <span class="tooltiptext left">Restore selected record (Overwrite)</span>
                    </div>                    
                    <div class="tooltip">
                        <svg class="red" onclick="destroyRecord()" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                        <span class="tooltiptext left">Destroy selected record</span>
                    </div>
                </div>
                <div id="info">

                    <h1>Archive Record Information</h1>

                    <div>
                        <p class="label">ID</p>
                        <p id="id"></p>
                    </div>

                    <div>
                        <p class="label">Date Created</p>
                        <p id="created_at"></p>
                    </div>

                    <div>
                        <p class="label">Summary</p>
                        <p id="summary"></p>
                    </div>

                    <div>
                        <p class="label">Description</p>
                        <p id="description"></p>
                    </div>
                </div>
            </div>
        </main>

        <div id="overlay">
            <div id="container">
                <div>
                    <p class="label">Author Name</p>
                    <input type="text" name="archive-author" id="archive-author" placeholder="John Doe">
                </div>

                <div>
                    <p class="label">Archive Name</p>
                    <input type="text" name="archive-name" id="archive-name" placeholder="My Cool Project">
                </div>

                <div id="overlay-controls">
                    <button class="red" onclick="overlayOff()"><strong>Cancel</strong></button>
                    <button onclick="createArchive()"><strong>Create</strong></button>
                </div>
            </div>
        </div>

        <div id="flash">
            <p id="message"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
        </div>
    </body>
</html>