@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    color: dimgray;
}

body {
    max-width: 500px;
    background-color: white;
}

label {
    font-size: 0.8em;
}

.new {
    width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
    box-sizing: border-box;
}

input[type=button] {
    width: auto;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 2.5px;
    background-color: #6495ED;
    color: white;
}

input[type=button]:hover {
    background-color: #1858cd;
}

button {
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #6495ED;
    color: white;
}

button:hover{
    background-color: #1858cd;
}

.scroll {
    overflow-y: auto;
    height: 400px;
    outline: 2px solid #eee;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 2.5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card p {
    padding: 5px;
    margin: 0px;
}

#flash {
    display: block;
    transition: opacity 1s ease-out;
    opacity: 0;

    /* color: white;
    background-color: #6495ED; */

    border: none;
    border-radius: 2.5px;
    
    padding: 15px;

    position: fixed;
    bottom: 20px;
    right: 20px;
}

#flash.flash-show {
    transition: none;
    opacity: 0.8;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

    align-items: center;
    justify-content: center;
}

#overlay > div {
    width: 500px;
    height: auto;
    background-color: white;

    border-radius: 2.5px;
    padding: 25px;
}

#overlay > div > .button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#overlay > div > .button > input[type=button] {
    width: 30%;
    font-size: 1em;
}